# Copy this file to .env and paste the API key you are given.
OPENAI_API_KEY=your-api-key-here
MODEL=gpt-5.4-nano
EMBEDDING_MODEL=text-embedding-3-small


--run the command to get key
curl https://drive.bdren.net.bd/index.php/s/QiYJdw59ZRPgpaz/download/copypaste%20to%20env.txt
